h3, h2 {
  text-align: center;
}
.announce-box {
  background-color: #f7eeeb;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 10%;
  bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
  border-width: 3px;
  border-style: dotted solid dotted;
  border-color: rgba(244, 164, 164, 0.7);
  padding: 5px;
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
  word-break: break-word;
}
.announce-box-small {
  background-color: #f7eeeb;
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 25%;
  bottom: 25%;
  margin-left: 25%;
  margin-right: 25%;
  border-width: 3px;
  border-style: dotted solid dotted;
  border-color: rgba(244, 164, 164, 0.7);
  padding: 5px;
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
  word-break: break-word;
}
.float {
  position: absolute;
  float: left;
}
.m-footer {
  position: absolute;
  width: 133px;
  left: 0;
  right: 0;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.center {
  font-size: large;
  text-align: center;
}