h3,h2 {
    text-align: center;
}

.announce-box {
    background-color: #f7eeeb;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 10%;
    margin-left: 15%;
    margin-right: 15%;
    border-width: 3px;
    border-style: dotted solid dotted;
    border-color: rgba(244, 164, 164, 0.7);
    padding: 5px;
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
    word-break: break-word;
}

.announce-box-small {
    background-color: #f7eeeb;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: 25%;
    bottom: 25%;
    margin-left: 25%;
    margin-right: 25%;
    border-width: 3px;
    border-style: dotted solid dotted;
    border-color: rgba(244, 164, 164, 0.7);
    padding: 5px;
    box-shadow: 0 1px 15px 1px rgba(113, 106, 202, .08);
    word-break: break-word;
}

.float {
    position: absolute;
    float: left;
}

.m-footer {
    position: absolute;
    width: 133px;
    left: 0;
    right: 0;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.center {
    font-size: large;
    text-align: center;
}

/*個人頁刪除鈕*/
.delbutton {
    display: block;
    color: #e65858;
    text-align: left;
    line-height: 30px;
    background: none !important;
    border: none;
    padding: 0 !important;
    font: inherit;
    cursor: pointer;
}

.headshot{
    display: none;
}

@media(max-width: 992px){
    .headshot{
        display: block;
        margin-top: 20px;
    }
}

/*TS版 足跡頁 個人資料頁 的照片寬度改為自適應正方形*/
@media (max-width: 575px) {
    .history_square {width: 30vw; height: 30vw;}
    .dashboard_square {width: 40vw; height: 40vw;}
    .fav_block_square {width: 35vw; height: 35vw;}
}
@media (min-width: 576px) and (max-width: 767px){
    .history_square {width: 20vw; height: 20vw;}
    .dashboard_square {width: 30vw;  height: 30vw;}
    .fav_block_square {width: 25vw; height: 25vw;}
}
@media (min-width: 768px) and (max-width: 991px){
    .history_square {width: 15vw; height: 15vw;}
    .dashboard_square {width: 20vw; height: 20vw;}
    .fav_block_square {width: 17vw; height: 17vw;}
}
@media (min-width: 992px) and (max-width: 1199px){
    .history_square {width: 12vw; height: 12vw;}
    .dashboard_square {width: 15vw; height: 15vw;}
    .fav_block_square {width: 13vw; height: 13vw;}
}
@media (min-width: 1200px) {
    .history_square {width: 8vw; height: 8vw;}
    .dashboard_square {width: 10vw; height: 10vw;}
    .fav_block_square {width: 9vw; height: 9vw;}
}

.bottomline{
    border-bottom:#eeeeee 1px solid !important; margin-bottom:34px !important;
}